@model StudentenVolgSysteem.Models.CuriculumModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CuriculumModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topics)
        </dt>

        <dd>
            @foreach (var item in Model.Topics)
            {
                @Html.DisplayFor(model => item.NameCode)<br />
            }
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
