@model StudentenVolgSysteem.Models.CuriculumModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CuriculumModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topics)
        </dt>

        <dd>
            @foreach (var item in Model.Topics)
            {
                @Html.DisplayFor(model => item.NameCode)<br />
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CuriculumId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
