@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studievolgsysteem IT Vitae - @ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/Menu.css")
    @Scripts.Render("~/Scripts/ddmenu.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header class="top">
        <div id="headerLogo">
            <img src="logo_itvitae_liggend_anders_denken.png" alt="IT Vitae logo" width="200" align="left" />
        </div>
        <div id="headerTitle">
            <h1>Studievolgsysteem</h1>
        </div>
    </header>
    <nav id="ddmenu">
        <ul>
            <li><a @Html.ActionLink("Deelnemers", "Index", "Student")></a></li>
            <li><a @Html.ActionLink("Curricula", "Index", "Curriculum")></a></li>
            <li>Admin
                <div class="dropdown">
     
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <main>
        @RenderBody()
        <hr />
    </main>
    <footer id="footer">
        <p>&copy; @DateTime.Now.Year - IT Vitae</p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>