@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studievolgsysteem IT Vitae - @ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/Menu.css")
    @Scripts.Render("~/Scripts/ddmenu.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>

<!--
<body style="padding:80px 20px;">
    <nav id="ddmenu">
        <ul>
            <li>
                <a class="arrow" href="#">Unde Omnis</a>
                <div class="drop" style="top: 47px; width: 584px; height: 0px; overflow: hidden; padding-top: 0px; padding-bottom: 0px; display: none;">
                    <div style="top: auto; bottom: 0px; padding-top: 20px; padding-bottom: 20px; display: block; position: absolute; float: left;">
                        <div class="column" style="display: block;">
                            <b>Lorem Ipsum</b>
                            <a href="#">Dolor sit amet</a>
                            <a href="#">Consectetur elit</a>
                            <a href="#">Etiam massa</a>
                            <a href="#">Suscipit sapien</a>
                            <a href="#">Quis turpis</a>
                            <a href="#">Web Menu Builder</a>
                            <a href="#">Quos torpusior</a>
                            <a href="#">Velit a dapibus</a>
                        </div>
                        <div class="column" style="display: block;">
                            <b>Etiam Massa</b>
                            <a href="#">Sed interdum</a>
                            <a href="#">Fringilla congue</a>
                            <a href="#">Dolor nisl auctor</a>
                            <a href="#">Best css menus</a>
                            <a href="#">Porttitor</a>
                            <a href="#">Tellus ullamcorper</a>
                            <a href="#">Orci quis</a>
                        </div>
                        <div class="column" style="display: block;">
                            <b>Sed Interdum</b>
                            <a href="#">Donec molestie</a>
                            <a href="#">Tempus semper</a>
                            <a href="#">Most popular menus</a>
                            <a href="#">Maecenas rutrum</a>
                            <a href="#">Ullamcorper</a>
                            <a href="#">Metus a mattis</a>
                            <a href="#">Maecenas enim</a>
                        </div>
                        <div class="column" style="width: 200px; text-align: center; display: block;">
                            <img style="width:200px; height:175px;" src="ddmenu/img1.jpg">
                            Drop Down Menu Maker
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="#">Voluptatem</a></li>
            <li>
                <a class="arrow" href="#">
                    Totam
                </a><div class="drop" style="top: 47px; width: 119px; height: 0px; overflow: hidden; padding-top: 0px; padding-bottom: 0px; display: none;">
                    <div style="top: auto; bottom: 0px; padding-top: 20px; padding-bottom: 20px; display: block; position: absolute; float: left;">
                        <div class="column" style="display: block;">
                            <a href="#">Nunc pharetra</a>
                            <a href="#">Vestibulum ante</a>
                            <a href="#">Nulla id laoreet</a>
                            <a href="#">Elementum blandit</a>
                            <a href="#">Quisque dictum</a>
                            <a href="#">Ullamcorper</a>
                            <a href="#">CSS3 menu</a>
                            <a href="#">Vel faucibus mollis</a>
                            <a href="#">Quisque tempor</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class="arrow" href="#">
                    Accusantium
                </a><div class="drop dropToLeft2" style="top: 47px; width: 300px; height: 0px; overflow: hidden; padding-top: 0px; padding-bottom: 0px; display: none;">
                    <div style="top: auto; height: 210px; bottom: 0px; padding-top: 20px; padding-bottom: 0px; display: block; position: absolute; float: left;">
                        <div class="column" style="display: block;">
                            <b>MENU BUILDER</b>
                            <div style="display: block;">
                                <a href="#">Fermentum ut nulla</a>
                                <a href="#">Duis ut mauris</a>
                                <a href="#">Quisque tempor</a>
                            </div>
                            <b>MENU MAKER</b>
                            <div style="display: block;">
                                <a href="#">Quisque dictum</a>
                                <a href="#">Nulla scelerisque</a>
                                <a href="#">hendrerit tincidunt</a>
                            </div>
                        </div>
                        <div class="column" style="display: block;">
                            <b>JQUERY MENU</b>
                            <div style="display: block;">
                                <a href="#">Suspendisse potenti</a>
                                <a href="#">Curabitur in mauris</a>
                                <a href="#">Phasellus ultrices</a>
                                <a href="#">Quisque ornare</a>
                                <a href="#">Vestibulum</a>
                                <a href="#">Best JavaScript menu</a>
                                <a href="#">Proin sed magna</a>
                                <a href="#">Etiam aliquet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class="arrow" href="#">Laudantium</a>
                <div class="drop dropToLeft" style="top: 47px; width: 235px; height: 0px; overflow: hidden; padding-top: 0px; padding-bottom: 0px; display: none;">
                    <div style="top: auto; bottom: 0px; padding-top: 20px; padding-bottom: 20px; display: block; position: absolute; float: left;">
                        <div class="column" style="display: block;">
                            <a href="#">Vel faucibus leo</a>
                            <a href="#">Duis ut mauris</a>
                            <a href="#">In tempus semper</a>
                            <a href="#">Popup menu</a>
                            <a href="#">Hendrerit tincidunt</a>
                            <a href="#">Nulla scelerisque</a>
                        </div>
                        <div class="column" style="display: block;">
                            <a href="#">In tempus semper</a>
                            <a href="#">Hendrerit tincidunt</a>
                            <a href="#">Duis ut mauris</a>
                            <a href="#">Drop down menu</a>
                            <a href="#">Nulla scelerisque</a>
                            <a href="#">Vel faucibus leo</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <p style="margin:60px auto; width:600px;">
        FYI, if your site is not written in server-side scripting language, and you do not want to cut and paste the menu HTML code on every page, you can store your website menu in a separate file, and just reference the file on every page.
        Visit <a href="http://www.menucool.com/ddmenu/one-menu-for-all-pages" target="_blank">One Menu for All Pages</a> for details.
    </p>
</body>
</html>
-->

<body>
    <header class="top">
        <div id="headerLogo">
            <img src="logo_itvitae_liggend_anders_denken.png" alt="IT Vitae logo" width="200" align="left" />
        </div>
        <div id="headerTitle">
            <h1>Studievolgsysteem</h1>
        </div>
    </header>
    <nav id="ddmenu">
        <ul>
            <li><a class="arrow" @Html.ActionLink("Deelnemers", "Index", "Student")></a></li>
            <li><a class="arrow" @Html.ActionLink("Curricula", "Index", "Curriculum")></a></li>
            <li class="over">
                <a class="arrow">Admin</a>
                <div class="drop" style="top: 47px; width: 119px; height: 0px; overflow: hidden; padding-top: 0px; padding-bottom: 0px; display: none;">
                    <div style="top: auto; bottom: 0px; padding-top: 20px; padding-bottom: 20px; display: block; position: absolute; float: left;">
                        <div class="column" style="display: block;">
                            <a href="#">Nunc pharetra</a>
                            <a href="#">Vestibulum ante</a>
                            <a href="#">Nulla id laoreet</a>
                            <a href="#">Elementum blandit</a>
                            <a href="#">Quisque dictum</a>
                            <a href="#">Ullamcorper</a>
                            <a href="#">CSS3 menu</a>
                            <a href="#">Vel faucibus mollis</a>
                            <a href="#">Quisque tempor</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="over">
                <a class="arrow" @Html.ActionLink("Users", "Users", "Admin")>Admin</a>   <!-- @Url.Action("Index", "Home")-->
                <div class="drop" style="top: 47px; width: 584px; height: 0px; overflow: hidden; padding-top: 0px; padding-bottom: 0px; display: none;">
                    <div style="top: auto; bottom: 0px; padding-top: 20px; padding-bottom: 20px; display: block; position: absolute; float: left;">
                        <div class="drop" style="top: 47px; width: 119px; height: 0px; overflow: hidden; padding-top: 0px; padding-bottom: 0px; display: none;">
                            <div style="top: auto; bottom: 0px; padding-top: 20px; padding-bottom: 20px; display: block; position: absolute; float: left;">
                                <div class="column" style="display: block;">
                                    <a>href="http://www.google.com">Google</a>  <!-- @Html.ActionLink("Users", "Users", "Admin")  -->
                                    <a href="http://www.google.com">Google</a>
                                    <a href="#">Nulla id laoreet</a>
                                    <a href="#">Elementum blandit</a>
                                    <a href="#">Quisque dictum</a>
                                    <a href="#">Ullamcorper</a>
                                    <a href="#">CSS3 menu</a>
                                    <a href="#">Vel faucibus mollis</a>
                                    <a href="#">Quisque tempor</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <main>
        @RenderBody()
        <hr />
    </main>
    <footer id="footer">
        <p>&copy; @DateTime.Now.Year - IT Vitae</p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>

<!--
               <div class="column" style="display: block;">
                        <ul>
                            <li>@Html.ActionLink("Users", "Users", "Admin")</li>
                            <li>@Html.ActionLink("CSV", "Index", "CSV")</li>
                            <li>@Html.ActionLink("Onderwerpen", "Index", "Topics")</li>
                            <li>@Html.ActionLink("Benodigdheden", "Index", "Benodigdheden")</li>
                            <li>@Html.ActionLink("Certificeringen", "Index", "Certificeringen")</li>
                            <li>@Html.ActionLink("Niveaus", "Index", "Niveau")</li>
                            <li>@Html.ActionLink("Tags", "Index", "Tag")</li>
                            <li>@Html.ActionLink("Percipio Links", "Index", "Percipiolink")</li>
                            <li>@Html.ActionLink("Tijdsduren", "Index", "Tijdsduren")</li>
                            <li>@Html.ActionLink("Werkvormen", "Index", "Werkvorm")</li>
                        </ul>
                    </div>


<body>
    <nav class="navbar default navbar-fixed-top">
        <a class="navbar-left" href="@Url.Action("Index", "Home")">
           <img border="0" alt="IT Vitae logo" src="logo_itvitae_liggend_anders_denken.png" width="250">
        </a>
        <ul class="topnav">
            <li><a class="active"> @Html.ActionLink("Deelnemers", "Index", "Student")</a></li>
            <li><a> @Html.ActionLink("Curricula", "Index", "Curriculum")</a></li>
            @if (true)
            {
                <li class="dropdown">
                    <a href="@Url.Action("Index", "Admin")" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-expanded="false">
                        Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Users", "Users", "Admin")</li>
                        <li>@Html.ActionLink("CSV", "Index", "CSV")</li>
                        <li>@Html.ActionLink("Onderwerpen", "Index", "Topics")</li>
                        <li>@Html.ActionLink("Benodigdheden", "Index", "Benodigdheden")</li>
                        <li>@Html.ActionLink("Certificeringen", "Index", "Certificeringen")</li>
                        <li>@Html.ActionLink("Niveaus", "Index", "Niveau")</li>
                        <li>@Html.ActionLink("Tags", "Index", "Tag")</li>
                        <li>@Html.ActionLink("Percipio Links", "Index", "Percipiolink")</li>
                        <li>@Html.ActionLink("Tijdsduren", "Index", "Tijdsduren")</li>
                        <li>@Html.ActionLink("Werkvormen", "Index", "Werkvorm")</li>
                    </ul>
                </li>
            }
        </ul>
    </nav>
-->
<!--
<body>
    <div class="navbar-collapse collapse">
        <nav class="navbar navbar-default navbar-fixed-top">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Index", "Home")" class="navbar-left">
                        <img border="0" alt="IT Vitae logo" src="logo_itvitae_liggend_anders_denken.png" width="250">
                    </a>
                </li>
                <li>@Html.ActionLink("Deelnemers", "Index", "Student")</li>
                <li>@Html.ActionLink("Curricula", "Index", "Curriculum")</li>
                @if (true)
                {
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Admin")" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-expanded="false">
                            Admin <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Users", "Users", "Admin")</li>
                            <li>@Html.ActionLink("CSV", "Index", "CSV")</li>
                            <li>@Html.ActionLink("Onderwerpen", "Index", "Topics")</li>
                            <li>@Html.ActionLink("Benodigdheden", "Index", "Benodigdheden")</li>
                            <li>@Html.ActionLink("Certificeringen", "Index", "Certificeringen")</li>
                            <li>@Html.ActionLink("Niveaus", "Index", "Niveau")</li>
                            <li>@Html.ActionLink("Tags", "Index", "Tag")</li>
                            <li>@Html.ActionLink("Percipio Links", "Index", "Percipiolink")</li>
                            <li>@Html.ActionLink("Tijdsduren", "Index", "Tijdsduren")</li>
                            <li>@Html.ActionLink("Werkvormen", "Index", "Werkvorm")</li>
                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </nav>
    </div>
    <br />
    <br />
    -->
<!--
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <a href="@Url.Action("Index", "Home")" class="navbar-left">
            <img margin-left="15" border="0" alt="IT Vitae logo" src="logo_itvitae_liggend_anders_denken.png" width="200">
        </a>
        <div>
            <ul class="nav navbar-nav">
                <!--<li> <text style="color: white">xxxxxxxxxxxx</text>
<li style="display: block; background-color: white; width: 20%">Studievolgsysteem</li>
<li class="navbar-block-first" ; width: 20%>@Html.ActionLink("Deelnemers", "Index", "Student")</li>
<li class="navbar-block" ; width: 20>@Html.ActionLink("Curricula", "Index", "Curriculum")</li>
@if (true)
{
    <li class="navbar-block-last dropdown" ; width: 20%>
        <a href="@Url.Action("Index", "Admin")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Users", "Users", "Admin")</li>
            <li>@Html.ActionLink("CSV", "Index", "CSV")</li>
            <li>@Html.ActionLink("Onderwerpen", "Index", "Topics")</li>
            <li>@Html.ActionLink("Benodigdheden", "Index", "Benodigdheden")</li>
            <li>@Html.ActionLink("Certificeringen", "Index", "Certificeringen")</li>
            <li>@Html.ActionLink("Niveaus", "Index", "Niveau")</li>
            <li>@Html.ActionLink("Tags", "Index", "Tag")</li>
            <li>@Html.ActionLink("Percipio Links", "Index", "Percipiolink")</li>
            <li>@Html.ActionLink("Tijdsduren", "Index", "Tijdsduren")</li>
            <li>@Html.ActionLink("Werkvormen", "Index", "Werkvorm")</li>
        </ul>
    </li>
}
            </ul>
<div class="navbar-block-login">@Html.Partial("_LoginPartial")</div>
        </div>
    </nav>

<div class="my-body-content">
    @*RenderBody()*@
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - IT Vitae Studievolgsysteem</p>
    </footer>
</div>



</body>


</html>-->
