@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Vitae SVS - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Topics")" class="navbar-left">
                    @*<div class="imagecontainer"></div>*@
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Onderwerpen", "Index", "Topics")</li>
                    <li>@Html.ActionLink("Curricula", "Index", "CurriculumTemplate")</li>
                    <li>@Html.ActionLink("Studenten", "Index", "Student")</li>
                    @if (true)
                    {
                        <li class="dropdown">
                            <a href="@Url.Action("Index", "Admin")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Users", "Users", "Admin")</li>
                                <li>@Html.ActionLink("CSV", "Index", "CSV")</li>
                                <li>@Html.ActionLink("Topics", "Index", "Topics")</li>
                                <li>@Html.ActionLink("Benodigdheden", "Index", "Benodigdheden")</li>
                                <li>@Html.ActionLink("Certificeringen", "Index", "Certificeringen")</li>
                                <li>@Html.ActionLink("Niveaus", "Index", "Niveau")</li>
                                <li>@Html.ActionLink("Tags", "Index", "Tag")</li>
                                <li>@Html.ActionLink("Percipio Links", "Index", "Percipiolink")</li>
                                <li>@Html.ActionLink("Tijdsduren", "Index", "Tijdsduren")</li>
                                <li>@Html.ActionLink("Werkvormen", "Index", "Werkvorm")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <!--#region Old Menu  -->
    @*<div class="body-center">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <a href='@Url.Action("Index", "Topics")'>
                    <div class="imagecontainer">
                    </div>
                </a>
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("SVS", "Index", "Topics", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div>
                        @Html.ActionLink("Curricula", "Index", "Curriculum", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div>
                        @Html.ActionLink("Studenten", "Index", "Student", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    @if (User.IsInRole("Administrator"))
                    {
                        <div>
                            @Html.ActionLink("Admin", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand"})
                        </div>
                    }

                    <div class="navbar-collapse">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>*@
    <!--#endregion-->

    <div class="my-body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - IT Vitae Studievolgsysteem</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
