@model StudentenVolgSysteem.Models.CuriculumModel

@*TODO: add checkbox functionality to keep track of student progress*@
    <div>
        <h4>
            @Html.DisplayFor(model => model.Name) |
            @Html.ActionLink("Edit", "Edit", "Curiculum", new { id = Model.CuriculumId }, null)
        </h4>
        <hr />
        <table class="my-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Niveau)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Duur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Werkvorm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Leerdoel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Certificeringen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Voorkennis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Inhoud)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Benodigdheden)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().PercipioLinks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Tags)
                </th>
                <th>
                </th>
            </tr>
            @foreach (var topic in Model.Topics)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => topic.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => topic.Niveau.Niveau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => topic.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => topic.Duur.Eenheid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => topic.Werkvorm.Werkvorm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => topic.Leerdoel)
                    </td>
                    <td>
                        @foreach (var cert in topic.Certificeringen)
                        {
                            @Html.DisplayFor(modelItem => cert.Certificering)
                        }
                    </td>
                    <td>
                        @foreach (var voorkennis in topic.Voorkennis)
                        {
                            @Html.DisplayFor(modelItem => voorkennis.Name)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => topic.Inhoud)
                    </td>
                    <td>
                        @foreach (var benodigdheden in topic.Benodigdheden)
                        {
                            @Html.DisplayFor(modelItem => benodigdheden.Content)
                        }
                    </td>
                    <td>
                        @foreach (var percipioLinks in topic.PercipioLinks)
                        {
                            @Html.DisplayFor(modelItem => percipioLinks.Link)
                        }
                    </td>
                    <td>
                        @foreach (var tags in topic.Tags)
                        {
                            @Html.DisplayFor(modelItem => tags.Naam) 
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Topics", new { id = topic.TopicId })
                    </td>
                </tr>
            }
        </table>
        <br />
    </div>
