<table>
    <tr>
        <td class="navbar-brand">
            Users
        </td>
        <td>
            @Html.ActionLink("Users", "Users", "Admin", new { area = "" }, new { @class = "navbar-brand" })
        </td>
        <td>
            @Html.ActionLink("Rollen", "AssignRolesToUsersAsync", "Admin", new { area = "" }, new { @class = "navbar-brand" })
        </td>
    </tr>
    <tr>
        <td class="navbar-brand">
            Topics
        </td>
        <td>
            @Html.ActionLink("CSV", "Index", "CSV", new { area = "" }, new { @class = "navbar-brand" })
        </td>
        <td>
            @Html.ActionLink("Benodigdheden", "Index", "Benodigdheden", new { area = "" }, new { @class = "navbar-brand" })
        </td>
        <td>
            @Html.ActionLink("Certificeringen", "Index", "Certificeringen", new { area = "" }, new { @class = "navbar-brand" })
        </td>
        <td>
            @Html.ActionLink("Niveaus", "Index", "Niveau", new { area = "" }, new { @class = "navbar-brand" })
        </td>
        <td>
            @Html.ActionLink("Tags", "Index", "Tag", new { area = "" }, new { @class = "navbar-brand" })
        </td>
        <td>
            @Html.ActionLink("Percipiolinks", "Index", "Percipiolink", new { area = "" }, new { @class = "navbar-brand" })
        </td>
        <td>
            @Html.ActionLink("Tijdsduren", "Index", "Tijdsduren", new { area = "" }, new { @class = "navbar-brand" })
        </td>
        <td>
            @Html.ActionLink("Werkvormen", "Index", "Werkvorm", new { area = "" }, new { @class = "navbar-brand" })
        </td>
        <td>
            @Html.ActionLink("Topics", "Index", "Topics", new { area = "" }, new { @class = "navbar-brand" })
        </td>
    </tr>
</table>