<h2>Administrator tools</h2>
<br />
<a class="btn btn-primary" style="margin: 5px; background: #00a7be; border-color: black;" href="@Url.Action("Users", "Admin")" role="button">Users</a>
@*<a class="btn btn-primary" style="margin: 5px; background: #00a7be; border-color: black;" href="@Url.Action("AssignRolesToUsersAsync", "Admin")" role="button">Users</a>*@
<a class="btn btn-primary" style="margin: 5px; background: #00a7be; border-color: black;" href="@Url.Action("Index", "CSV")" role="button">CSV importer</a>
<a class="btn btn-primary" style="margin: 5px; background: #00a7be; border-color: black;" href="@Url.Action("Users", "Admin")" role="button">Topics</a>
<a class="btn btn-primary" style="margin: 5px; background: #00a7be; border-color: black;" href="@Url.Action("Index", "Benodigdheden")" role="button">Benodigdheden</a>
<a class="btn btn-primary" style="margin: 5px; background: #00a7be; border-color: black;" href="@Url.Action("Index", "Certificeringen")" role="button">Certificeringen</a>
<a class="btn btn-primary" style="margin: 5px; background: #00a7be; border-color: black;" href="@Url.Action("Index", "Niveau")" role="button">Niveaus</a>
<a class="btn btn-primary" style="margin: 5px; background: #00a7be; border-color: black;" href="@Url.Action("Index", "Tag")" role="button">Tags</a>
<a class="btn btn-primary" style="margin: 5px; background: #00a7be; border-color: black;" href="@Url.Action("Index", "Percipiolink")" role="button">Percipio links</a>
<a class="btn btn-primary" style="margin: 5px; background: #00a7be; border-color: black;" href="@Url.Action("Index", "Tijdsduren")" role="button">Tijdsduren</a>
<a class="btn btn-primary" style="margin: 5px; background: #00a7be; border-color: black;" href="@Url.Action("Index", "Werkvorm")" role="button">Werkvormen</a>