@model StudentenVolgSysteem.Models.CUTopicModel

@{
    ViewBag.Title = "Edit";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>TopicModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TopicId)

    <div class="form-group">
        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Niveau, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.NiveauId, new SelectList(Model.CUNiveaus, "NiveauId", "Niveau", Model.Niveau.NiveauId), new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Niveau, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Duur, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TijdsDuurId, new SelectList(Model.CUTijdsDuren, "TijdsDuurId", "Eenheid", Model.Duur.TijdsDuurId))
            @Html.ValidationMessageFor(model => model.Duur, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Werkvorm, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.WerkvormId, new SelectList(Model.CUwerkvormen, "WerkvormId", "Werkvorm", Model.Werkvorm.WerkvormId), new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Werkvorm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Leerdoel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Leerdoel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Leerdoel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Certificeringen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CertificeringIds, new MultiSelectList(Model.CUCertificeringenInfras, "CertificeringenInfraId", "Certificering", Model.Certificeringen.Select(c => c.CertificeringenInfraId)), new { @class = "multiSelect", @multiple = "multiple" })
            @Html.ValidationMessageFor(model => model.Certificeringen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Voorkennis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.VoorkennisIds, new MultiSelectList(Model.VoorkennisTopics, "TopicId", "NameCode", Model.Voorkennis.Select(c => c.TopicId)), new { @class = "multiSelect", @multiple = "multiple", @searchable = "Search here.." })
            @Html.ValidationMessageFor(model => model.Voorkennis, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Inhoud, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Inhoud, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Inhoud, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Benodigdheden, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BenodigdhedenIds, new MultiSelectList(Model.CUBenodigdheden, "BenodigdheidId", "Content", Model.Benodigdheden.Select(c => c.BenodigdheidId)), new { @class = "multiSelect", @multiple = "multiple", @searchable = "Search here.." })
            @Html.ValidationMessageFor(model => model.Benodigdheden, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PercipioLinks, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PercipiolinkIds, new MultiSelectList(Model.CUPercipiolinks, "PercipiolinkId", "Link", Model.PercipioLinks.Select(c => c.PercipiolinkId)), new { @class = "multiSelect", @multiple = "multiple", @searchable = "Search here.." })
            @Html.ValidationMessageFor(model => model.PercipioLinks, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TagIds, new MultiSelectList(Model.CUTags, "TagId", "Naam", Model.Tags.Select(c => c.TagId)), new { @class = "multiSelect", @multiple = "multiple", @searchable = "Search here.." })
            @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(document).ready(function () {
        $('.multiSelect').multiselect({
            includeSelectAllOption: true,
            maxHeight : 300,
            enableFiltering: true,
            onDropdownShown: function () {
                $("li.filter").show();
            },
            onDropdownHidden: function () {
                $("li.filter").hide();
            },
            enableCaseInsensitiveFiltering: true
        });
    });
</script>
