@model StudentenVolgSysteem.Models.ViewModels.TopicViewModel

@{
    ViewBag.Title = "Edit";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Topic</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TopicId)

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Niveau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Niveau, new SelectList(Model.AlleNiveaus, "NiveauId", "Naam", Model.Niveau), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Niveau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Duur, new SelectList(Model.AlleTijdsduren, "TijdsDuurId", "Eenheid", Model.Duur))
                @Html.ValidationMessageFor(model => model.Duur, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Werkvorm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Werkvorm, new SelectList(Model.AlleWerkvormen, "WerkvormId", "Naam", Model.Werkvorm), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Werkvorm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Leerdoel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Leerdoel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Leerdoel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Certificeringen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownListFor(model => model.Certificeringen, new MultiSelectList(Model.AlleCertificeringen, "CertificeringId", "Naam", Model.Certificeringen), new { @class = "multiSelect", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.Certificeringen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorkennis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Voorkennis, new MultiSelectList(Model.AlleVoorkennis, "TopicId", "NaamCode", Model.Voorkennis), new { @class = "multiSelect", @multiple = "multiple", @searchable = "Search here.." })
                @Html.ValidationMessageFor(model => model.Voorkennis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inhoud, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inhoud, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inhoud, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Benodigdheden, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Benodigdheden, new MultiSelectList(Model.AlleBenodigdheden, "BenodigdheidId", "Naam", Model.Benodigdheden), new { @class = "multiSelect", @multiple = "multiple", @searchable = "Search here.." })
                @Html.ValidationMessageFor(model => model.Benodigdheden, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PercipioLinks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PercipioLinks, new MultiSelectList(Model.AllePercipioLinks, "PercipiolinkId", "Link", Model.PercipioLinks), new { @class = "multiSelect", @multiple = "multiple", @searchable = "Search here.." })
                @Html.ValidationMessageFor(model => model.PercipioLinks, "", new { @class = "text-danger" })
                @Html.ActionLink("Create New", "Create", "Percipiolink")
            </div>
        </div>
        @* TODO: Add 'Create new link' button for Percipio links in edit *@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TagIds, new MultiSelectList(Model.CUTags, "TagId", "Naam", Model.Tags.Select(c => c.TagId)), new { @class = "multiSelect", @multiple = "multiple", @searchable = "Search here.." })
                @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
            </div>f
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(document).ready(function () {
        $('.multiSelect').multiselect({
            includeSelectAllOption: true,
            maxHeight: 300,
            enableFiltering: true,
            onDropdownShown: function () {
                $("li.filter").show();
            },
            onDropdownHidden: function () {
                $("li.filter").hide();
            },
            enableCaseInsensitiveFiltering: true
        });
    });
</script>
