@model IEnumerable<StudentenVolgSysteem.Models.Topic>

@{
    ViewBag.Title = "Topics";
}

<h2>Topics</h2>

@Html.ActionLink("Create New", "Create", null, new { type = "button" })
<body>
    <table class="my-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>
            <th id="name">
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werkvorm)
            </th>
            <th id="name">
                @Html.DisplayNameFor(model => model.Certificeringen)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Niveau.Naam)
                </td>
                <td id="name">
                    @Html.DisplayFor(modelItem => item.NaamCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duur.Eenheid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Werkvorm.Naam)
                </td>
                <td id="name">
                    @foreach (var cert in item.Certificeringen)
                    {
                        @Html.DisplayFor(modelItem => cert.Naam)
                    }
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TopicId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TopicId, returnUrl = this.Request.RawUrl}) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TopicId })
                </td>
            </tr>
        }

    </table>
</body>
