@model IEnumerable<StudentenVolgSysteem.Models.TopicModel>

@{
    ViewBag.Title = "Index";
}

<h2>SVS</h2>

<button>
    @Html.ActionLink("Create New", "Create")
</button>
<body>
    <table class="my-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>
            <th id="name">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werkvorm)
            </th>
            <th id="name">
                @Html.DisplayNameFor(model => model.Certificeringen)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Niveau.Niveau)
                </td>
                <td id="name">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duur.Eenheid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Werkvorm.Werkvorm)
                </td>
                <td id="name">
                    @foreach (var cert in item.Certificeringen)
                    {
                        @Html.DisplayFor(modelItem => cert.Certificering)
                    }
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TopicId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TopicId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TopicId })
                </td>
            </tr>
        }

    </table>
</body>
