@model StudentenVolgSysteem.Models.ViewModels.CurriculumViewModel

@{
    ViewBag.Title = "Create";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('.multiSelect').multiselect({
                includeSelectAllOption: true,
                maxHeight : 300,
                enableFiltering: true,
                onDropdownShown: function () {
                    $("li.filter").show();
                },
                onDropdownHidden: function () {
                    $("li.filter").hide();
                },
                enableCaseInsensitiveFiltering: true
            });
        });
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Curriculum</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*@Html.HiddenFor(model => model.Curriculum.CurriculumId)*@
    @*@Html.HiddenFor(model => model.StudentId)
    @Html.HiddenFor(model => model.Student)*@

    <div class="form-group">
        @Html.LabelFor(model => model.Curriculum.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Curriculum.Naam, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Curriculum.Naam, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Student, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.StudentId, new SelectList(Model.AlleStudenten, "Id", "VolledigeNaam"), new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.DropDownListFor(model => model.StudentIds, new MultiSelectList(Model.AlleStudenten, "StudentId", "VolledigeNaam", Model.AlleStudenten.Select(c => c.StudentId)), new { @class = "multiSelect", @multiple = "multiple" }) *@
            @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Curriculum.Topics, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TopicIds, new MultiSelectList(Model.AlleTopics, "Id", "NaamCode", Model.AlleTopics.Select(c => c.Id)), new { @class = "multiSelect", @multiple = "multiple" })
            @Html.ValidationMessageFor(model => model.TopicIds, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
