@model StudentenVolgSysteem.Models.ViewModels.CurriculumViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Curriculum</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-2">
            <h1>Naam:</h1>
        </div>
        <div class="col-md-10">
            <h1>@Model.Student.VolledigeNaam</h1>
            @Html.HiddenFor(model => model.StudentId)
            @*@Html.HiddenFor(model => model.CurriculumTemplate.Naam)*@
        </div>
    </div>
    <br/>
    <br/>
    
    <div class="form-group">
        @Html.LabelFor(model => model.CurriculumTemplates, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CurriculumTemplateId, new SelectList(Model.CurriculumTemplates, "Id", "Naam"), new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CurriculumTemplateId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NiveauId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.NiveauId, new SelectList(Model.Niveaus, "Id", "Naam", Model.NiveauId), new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NiveauId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
