@model StudentenVolgSysteem.Models.Curriculum

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Curriculum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Student)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Student.Voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Achternaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Achternaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topics)
        </dt>

        <dd>
            @foreach (var item in Model.Topics)
            {
                @Html.DisplayFor(model => item.Topic.NaamCode)<br />
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CurriculumId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
