@model StudentenVolgSysteem.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Persoonlijk Curriculum van @Html.DisplayFor(model => model.VolledigeNaam)</h2>
<div>
    @foreach (var Curriculum in Model.Curricula)
    {
        @Html.Partial("PartialDisplayCurriculum", Curriculum)
    }
</div>
<br/>
<p>
    @Html.ActionLink("Wijzig", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Maak nieuw curriculum", "Create", "Curriculum", new { id = Model.Id }, null) |
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>
