@model StudentenVolgSysteem.Models.Student

@{
    ViewBag.Title = "DeelnemerCurriculum";
}

<h2>DeelnemerCurriculum</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achternaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AanmeldDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AanmeldDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curriculum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curriculum.Naam)
        </dd>

        @if (Model.Curriculum != null)
        {
            @Html.Partial("PartialDisplayCurriculum", Model.Curriculum)
            @Html.ActionLink("maak PDF", "CreatePDF", "Pdf", new { studentId = Model.Id }, null)
        }
        else
        {
            <br />

            <text> Nog Geen Curriculum. </text>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Wijzig Student", "Edit", new { id = Model.Id }) |
    @if (Model.Curriculum == null)
    {
        @Html.ActionLink("Curriculum toevoegen", "Create", "Curriculum", new { id = Model.Id }, null)
        <text> | </text>
    }
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>
