@model StudentenVolgSysteem.Models.StudentModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curiculums)
        </dt>

        <dd></dd>

        @foreach (var Curriculum in Model.Curiculums)
        {
            @Html.Partial("PartialDisplayCurriculum", Curriculum)
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId })
    @Html.ActionLink("Add Curriculum", "Create", "Curiculum", new { id = Model.StudentId }, null)
    @Html.ActionLink("Back to List", "Index")
</p>
