@model IEnumerable<StudentenVolgSysteem.Models.Student>

@{
    ViewBag.Title = "Deelnemers";
}

<h2>Deelnemers</h2>

@Html.ActionLink("Toevoegen", "Create", null, new { type = "button" })

@{
    int numOfStudents = 0;
    foreach (var item in Model)
    {
        numOfStudents++;
    }
}

@if (numOfStudents != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VolledigeNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AanmeldDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curriculum)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VolledigeNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AanmeldDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curriculum.Naam)
                    @if (item.Curriculum == null)
                    {
                        <text>Nog geen curriculum</text>
                    }
                </td>

                <td>
                    @Html.ActionLink("Wijzig studentgegevens", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Ga naar curriculum", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Verwijder", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}