@model IEnumerable<StudentenVolgSysteem.Models.Student>

@{
    ViewBag.Title = "Studenten";
}

<h2>Studenten</h2>

@Html.ActionLink("Toevoegen", "Create", null, new { type = "button" })
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curriculum)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
               
                    @Html.DisplayFor(modelItem => item.Curriculum.Naam)
                
            </td>
            <td>
                @Html.ActionLink("Wijzig", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Verwijder", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
