@model IEnumerable<StudentenVolgSysteem.Models.Student>

@{
    ViewBag.Title = "Deelnemers";
}

<h2>Deelnemers</h2>

@Html.ActionLink("Toevoegen", "Create", null, new { type = "button" })

@{
    int numOfStudents = Model.Count();
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VolledigeNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AanmeldDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curricula)
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VolledigeNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AanmeldDatum)
        </td>
        <td>
            @{
                foreach (var curriculum in item.Curricula)
                {
                    @Html.DisplayFor(modelItem => curriculum.Naam)
                    if (curriculum != item.Curricula.Last())
                    {
                        @Html.Raw(" <strong>|</strong> ")
                    }
                }
                if (item.Curricula.Count == 0)
                {
                    <text>Nog geen curriculum</text>
                }
            }
        </td>
        <td>
            @Html.ActionLink("Wijzig gegevens deelnemer", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Ga naar persoonlijk curriculum", "Details", new { id = item.Id }) |
            @Html.ActionLink("Verwijder deelnemer", "Delete", new { id = item.Id })
        </td>
    </tr>
    }
</table>